<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sebastian.helper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityTrabajo" />
        <activity android:name=".ActivityProyecto" />
        <activity android:name=".ActivityTarea" />
        <activity android:name=".ActivityReunion" />
        <activity android:name=".ActivityAgregarReunion" />
        <activity android:name=".ActivityAgregarProyecto" />
        <activity android:name=".ActivityAgregarTarea"></activity>
    </application>

</manifest>